@import "src/assets/scss/variables.scss";

.burger-nav {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 12px;
  top: 11px;
  border-radius: 0px;
  border: none;
  background-color: transparent;
  padding: 8px;
}

.burger-nav-line {
  display: block;
  background-color: $base;
  height: 3px;
  margin: 0 0 3px 0;

  &:last-child {
    margin: 0;
  }
}
