@import "src/assets/scss/variables.scss";

.new-task-button {
  background-color: $primary-dark;
  color: $base;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  bottom: -20px;
  margin: 0 0 0 -86.5px;
  border-radius: 30px;
  border: none;
  padding: 20px 40px;
  box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.1);
}
